*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}
body{
    background-color: #1E1E1E;
    color:white;
}

.navbar{
    display:flex ;
    justify-content: center;
    gap: 45%;
    margin-top: 20px;
}
.logo{
    background-color: #EF354B;
}
.logo img{
    width: 35px;
    padding: 15px;
}
.nav-list{
    display: flex;
    gap: 10%;
    margin-top: 20px;
}
.nav-list ul{
    display: flex;
    list-style: none;
    position: relative;
}
.nav-list ul li a{
    font-size: 1rem;
    text-decoration: none;
    margin-left: 40px;
    color: white;
    position: relative;

}
.nav-list a::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 10%;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
    background-color: #EF354B;
    transition: 0.5s;
}
.nav-list a:hover::after{
    width: 100%;

}
.icons{
    display: flex;
    gap: 20px;
}
.search button {
    padding: 5px 55px 5px 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    margin-top: -20px;
    margin-right: 50px;
    
}
.search i{
    color: white;
}

.bag{
    font-size: 1.3rem;
    margin-top: -3px;
}
.dots{
    font-size: 2rem;
    font-weight: 200;
    margin-top: -10px;
}

.checkbox{
    display: none;


}
.label{
    font-size: 1.5rem;
    margin-top: 20px;
    display: none;
    z-index: 2;
    

}
hr{
    border: 1px solid rgb(255, 255, 255,0.1);
}

@media (max-width:950px) {
    .navbar{
        justify-content: space-around;
    }
    .nav-list{
        position: absolute;
        flex-direction: column;
        background-color: rgb(0, 0, 0);
        border:5px solid rgb(255,255,255,0.5);
        padding: 90px 20px;
        right: 10px;
        top: 0px;
        padding-right: 60px;
        display: none;
        z-index: 1;
    }
    .nav-list ul{
        flex-direction: column;
    }
    .nav-list ul li {
        margin-bottom: 40px;
    }
    .icons{
        margin-left: 40px;
        background-color: #EF354B;
        padding: 5px 5px;
        border-radius: 10px;
    }
    i{
        font-size: 1rem;
    }
    .dots{
        display: none;
    }
    .search button{
        padding: 0;
        margin: 0;
    }
    .label{
        display: block;
    }
    .checkbox:checked + .label + .nav-list{
        display: block;
    }
}
/* 
hero section */

.hero{
    display: flex;
    position: relative;
}
.side{
    flex-basis: 9.3%;
    border-right: 1px solid  rgb(255, 255, 255,0.1);
    padding-top: 500px;
    height: 230px;

}
.side p{
    padding-right: 100px;
    margin-bottom: 30px;
    writing-mode: vertical-lr;
    transform:rotate(180deg);
    font-size: 0.8rem;
}
.text{
    align-self: center;
    margin: 30px;
    margin-left: 50px;


}
.text h2{
    font-size: 3rem;
    font-weight: 200;

}
.text h1{
    font-size: 4rem;

}
.text p{
    font-weight: 200;
    line-height: 2rem;

}
.text button{
    padding: 15px 20px;
    background-color: #EF354B;
    margin-top: 10px;
    border: none;
    color: white;


}
.text button i{
    margin-left: 20px;
}
.watch-img{
    position: relative;

}
.watch-img img{
    width: 500px;
    margin: 50px;
    position: relative;
    z-index: -1;
}
.watch-img::after{
    content: 'MOON';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 15%;
    left: 50%;
    font-size: 8rem;
    writing-mode: vertical-lr;
    font-weight: 900;
    color: rgb(255,255,255,0.5);
    z-index: -2;

}

.price{
    position: absolute;
    bottom: 35%;
    right: 7%;
}
.price h3{
    font-size: 1rem;
    font-weight: 300;
    color: rgb(255,255,255,0.5);
}
.price p{
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(255,255,255,0.5);
}

@media (max-width:950px){
    .hero{
        flex-direction: column;
    }
    .side{
        height: 0;
        border: none;
        display: flex;
        justify-content: center;
        margin-top: -450px;
        margin-left: 70px;
    }
    .side p{
        writing-mode:horizontal-tb;
        transform: rotate(0deg);
    }
    .price{
        left: 10%;
    }
    .watch-img img{
        width: 400px;
    }
}

.next{
    position: absolute;
    bottom: 7%;
    right: 10%;
    padding-bottom: 50px;
    padding-top: 20px;
    padding-left: 13px;
    padding-right: 13px;
    background-color: #EF354B;
}
.next p{
    font-size: 0.8rem;
}

.glass{
    position: absolute;
    display: flex;
    bottom: 5%;
    right: 10%;
    gap: 150px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);          
    -webkit-backdrop-filter: blur(10px); 
    padding: 10px;

}
.glassrow{
    display: flex;
    gap: 15px;
}
.glass img{
    width: 40px;
}
.glassrow h3 {
    font-size: 0.7rem;
}
.glassrow p{
    font-size: 0.4rem;
}

@media (max-width:950px){
    .next{
        bottom: -100px;
        z-index: 1;
    }
    .glass{
        gap: 20px;
        flex-direction: column;
        bottom: -180px;
        left: 0;
    }
}